<!DOCTYPE html>
<html xalmns:th="http://www.thymeleaf.org">

<body>
	<div class="container mt-3" th:fragment="collapse">
		<h2>About this Algorithm</h2>
		<p>Click on the button to see details.</p>

		<button type="button" class="btn btn-primary" data-toggle="collapse"
			data-target="#demo">About this algorithm</button>
		<div id="demo" class="collapse">
		   	<hr>
			<p>
				This program is used to find to total of two strings as integers.<br>
				It will prompt the users two strings as integers and then find the<br>
			    addition of them <i class="text-primary"> in the order from right to left </i>.
			</p>
		</div>
		<br>
		<br>
	</div>
</body>
</html>